<div class="container mt-3">
  <!--   <div id="made-in-ny"></div> -->
  <h1 class="mt-4 d-flex justify-content-center">Video Playlist</h1>

  <div class="row">
    <div class="col-6 col-md-4 mb-2">
      <a href="#" routerLink="/student/index/" class="btn btn-success mt-4 ms-2"
        >Back</a
      >
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-lg-4 mt-2">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div id="made-in-ny"></div>
          <button class="card-link btn btn-primary" (click)="play()">
            Play
          </button>
          <button class="card-link btn btn-primary" (click)="pause()">
            Pause
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 mt-2">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div id="made-in-ny1"></div>
          <button class="card-link btn btn-primary" (click)="play1()">
            Play
          </button>
          <button class="card-link btn btn-primary" (click)="pause1()">
            Pause
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 mt-2">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div id="made-in-ny2"></div>
          <button class="card-link btn btn-primary" (click)="play2()">
            Play
          </button>
          <button class="card-link btn btn-primary" (click)="pause2()">
            Pause
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-lg-4 mt-2">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div id="made-in-ny3"></div>
          <button class="card-link btn btn-primary" (click)="play3()">
            Play
          </button>
          <button class="card-link btn btn-primary" (click)="pause3()">
            Pause
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 mt-2">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div id="made-in-ny4"></div>
          <button class="card-link btn btn-primary" (click)="play4()">
            Play
          </button>
          <button class="card-link btn btn-primary" (click)="pause4()">
            Pause
          </button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 mt-2">
      <div class="card" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div id="made-in-ny5"></div>
          <button class="card-link btn btn-primary" (click)="play5()">
            Play
          </button>
          <button class="card-link btn btn-primary" (click)="pause5()">
            Pause
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
