<div class="container">
  <h1 class="mt-4">View Record</h1>

  <div class="row">
    <div class="col-6 col-md-4 mb-2">
      <a href="#" routerLink="/student/index/" class="btn btn-success mt-4"
        >Back</a
      >
    </div>
  </div>

  <div>
    <div>
      <strong>Student ID</strong>
      <p>{{ stuid }}</p>
    </div>

    <div>
      <strong>Student Name</strong>
      <p>{{ stuname }}</p>
    </div>

    <div>
      <strong>Student Email</strong>
      <p>{{ stuemail }}</p>
    </div>

    <div>
      <strong>Student Mobile</strong>
      <p>{{ stumobile }}</p>
    </div>

    <div>
      <strong>Student Address</strong>
      <p>{{ stuaddress }}</p>
    </div>

    <div>
      <strong>Student College</strong>
      <p>{{ stucollege }}</p>
    </div>

    <div>
      <strong>Course</strong>
      <p>{{ stucourse }}</p>
    </div>
  </div>
</div>
